.logo img {
    width:200px;
    height:150px;
  }
  header {
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .container {
   width:900px;
    margin:0 auto;
    
  }
  .box {
    background:yellow;
    padding:20px;
  }
  .figure img{
    width:100%;
  }
  .flex-container {
    display:flex;
    justify-content:space-between;
  }
  main {
    width:500px;
  }
  aside {
    width:300px;
  }
  nav a {
    text-decoration:none;
    color:black;
    font-size:20px;
    background:grey;
    padding:20px 0px;
    width:100%;
    display:block;
    border:1px solid yellow;
  }
  nav a:hover {
    color:yellow;
    background:black;
  }
  ul {
    display:flex;
    list-style:none;
    text-align:center;
    margin-bottom:15px;
  }
  li {
    flex-grow:1;
  }
  a:link {
    background-color:black;
  }
  a:visited {
    background-color:white;
  }
  a:active {
    background-color:grey;
  }
  .flex-container h2 {
    background:white;
    width:300px;
    height:30px;
    margin:30px 0px 10px;
  }
  * {
    margin:0;
    padding:0;
  }
  h1 {
    margin:30px 0px 10px;
  }
  p {
    text-align:justify;
    margin-bottom:10px;
  }
  footer {
    background:white;
    padding:15px;
    margin-top:20px;
    text-align:center;
  }
  ol {
    margin-left:20px;
  }
  h3 {
    margin-bottom:10px;
  }
.head {
  color:red;
}
legend {
  color:red;
}
.lo {
  color:green;
}
.pa {
  color:blue;
}
.zo {
  color:red;
}
input[type=text],input[type=password]{
  width:100%;
  padding:10px;
  margin:10px 0px 10px;
  background:white;
  border-radius:5px;
}
form {
  width:500px;
  margin:10px auto;
  padding:10px;
  background:grey;
}
* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
fieldset {
  padding:20px;
}
input[type=text]:focus {
  background:red;
}
input[type=password]:focus {
  background:red;
}
input[type=reset],input[type=submit] {
  background:blue;
  width:100%;
  margin:10px auto;
  padding:10px 0px;
  color:white;
  font-size:24px;
}
input[type=reset]:hover,
input[type=submit]:hover {
  background:black;
  border-radius:5px;
}
